---
import CardProject from "@/components/cardProject.astro";
import { getLangFromUrl } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import fetchProjects from "@/service/project.service";
import type { Project } from "@/types/project.interface";

const lang = getLangFromUrl(Astro.url);
const langFormatted = lang.replace("-", "");

const projects: Project[] = await fetchProjects({ language: langFormatted });
---

<Layout title="Projects">
  <main>
    <h1 class="text-2xl font-bold">My projects</h1>
    <p class="mb-4 mt-2 flex items-center gap-1">
      Here are some of my projects, you can find more on my
      <a
        href="https://github.com/diovanealves"
        rel="noopener noreferrer"
        class="text-primary underline"
      >
        github.</a
      >
    </p>
    <div
      class="grid grid-cols-1 place-items-center gap-6 md:grid-cols-2 xl:grid-cols-4"
    >
      {
        projects ? (
          projects.map((project, index) => (
            <CardProject
              index={index}
              title={project.title}
              description={project.description}
              websiteUrl={project.projectWebsite}
              githubUrl={project.githubRepository}
              imageUrl={project.linkImage}
              usedLanguages={project.usedLanguages}
              language={lang}
            />
          ))
        ) : (
          <p>No project available.</p>
        )
      }
    </div>
  </main>
</Layout>
