---
import { useTranslations } from "@/i18n/utils";
import { Image } from "astro:assets";

interface Props {
  index: number;
  imageUrl: string;
  title: string;
  description: string;
  usedLanguages: string[];
  websiteUrl: string;
  githubUrl: string;
  language: "pt-br" | "en";
}

const {
  index,
  imageUrl,
  title,
  description,
  websiteUrl,
  githubUrl,
  usedLanguages,
  language,
} = Astro.props;

const t = useTranslations(language);
---

<div class="grid w-full max-w-md grid-rows-2 rounded-b-lg bg-secondary">
  <Image
    src={imageUrl}
    alt={title}
    loading={index < 9 ? "eager" : "lazy"}
    width={450}
    height={450}
    class={"rounded-t-lg w-full h-full"}
  />
  <div class="flex flex-1 flex-col justify-around gap-1 p-3">
    <h1 class="text-lg font-bold leading-relaxed">{title}</h1>
    <p class="h-16 text-base">
      {description.length > 90 ? description.slice(0, 90) + "..." : description}
    </p>
    <p class="mt-2 text-sm font-medium">
      {usedLanguages}
    </p>
    <div class="flex items-center justify-between">
      <a
        href={websiteUrl}
        target="_blank"
        rel="noopener noreferrer"
        class="cursor-pointer font-medium text-primary transition-colors hover:text-ring"
        >{t("project.website")}</a
      >
      <a
        href={githubUrl}
        target="_blank"
        rel="noopener noreferrer"
        class="cursor-pointer font-medium text-primary transition-colors hover:text-ring"
        >{t("project.github")}</a
      >
    </div>
  </div>
</div>
