---
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  title: string;
  href: string;
  classname?: string;
  index: number;
}

const { image, title, href, classname, index } = Astro.props;
---

<div
  class="flex h-32 w-36 items-center justify-center rounded-xl border border-foreground/25"
>
  <a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={`Link para a documentação da tecnologia ${title}`}
    class="space-y-2 transition-all hover:scale-105"
  >
    <Image
      src={image}
      alt={title}
      width="32"
      height="32"
      loading={index < 9 ? "eager" : "lazy"}
      class={`mx-auto h-8 w-8 ${classname}`}
    />
    <h1 class="">{title}</h1>
  </a>
</div>
