---
import CardProject from "@/components/cardProject.astro";
import { projectQuery } from "@/graphql/project.query";
import { getLangFromUrl } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import type { Project } from "@/types/project.interface";

const lang = getLangFromUrl(Astro.url);
const langFormatted = lang.replace("-", "");

const response = await fetch(
  import.meta.env.HYGRAPH_ENDPOINT,
  projectQuery(langFormatted),
);
const json = await response.json();
const projects: Project[] = json.data.projects;
---

<Layout title="Projetos">
  <main>
    <h1 class="text-2xl font-bold">Meus Projetos</h1>
    <p class="mb-4 mt-2 flex items-center gap-1">
      Aqui esta alguns de meus projetos, você pode encontrar mais em meu
      <a
        href="https://github.com/diovanealves"
        rel="noopener noreferrer"
        class="text-primary underline"
      >
        github.</a
      >
    </p>
    <div
      class="grid grid-cols-1 place-items-center gap-6 md:grid-cols-2 xl:grid-cols-4"
    >
      {
        projects ? (
          projects.map((project, index) => (
            <CardProject
              index={index}
              title={project.title}
              description={project.description}
              websiteUrl={project.projectWebsite}
              githubUrl={project.githubRepository}
              imageUrl={project.linkImage}
              usedLanguages={project.usedLanguages}
              language={lang}
            />
          ))
        ) : (
          <p>Nenhum projeto disponível.</p>
        )
      }
    </div>
  </main>
</Layout>
